.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.see-more-btn{
   color:teal;
    border: none;
    text-decoration: none;
    background-color: transparent;
    margin-right: 40px;
}

.btnSee{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
