.top {
  width: 100vw;
  height: 10vh;
  background-color:#020617;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.topLeft{
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Orbitron;
  font-size: 1.5rem;
}
.topRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}



.Whitebar{
  background-color: white;
  width:80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.topCenter {
  height: 50%;
  flex: 4;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topListItem:hover{
    color: gray;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}


@media (max-width: 767px) {
.topLeft{
  font-size: 1rem;
}
.topList{
  padding:0px 5px;
}
.Whitebar{
  width: 100%;
}
.topListItem{
  font-size:10px;
  margin: 5px;
}

}
